<?xml version="1.0" encoding="UTF-8"?>
<included>
  <property name="LOG_FILE" value="${CATALINA_HOME}/logs/prod/attack-prod"/>

  <appender name="LOG_FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- Support multiple-JVM writing to the same log file -->
    <prudent>true</prudent>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset class="java.nio.charset.Charset">UTF-8</charset>
    </encoder>
    <file>${LOG_FILE}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>90</maxHistory>
      <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender name="ERROR_LOG_FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset class="java.nio.charset.Charset">UTF-8</charset>
    </encoder>
    <file>${LOG_FILE}.error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE}.error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>90</maxHistory>
      <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <logger name="com.el" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="LOG_FILE"/>
    <appender-ref ref="ERROR_LOG_FILE"/>
  </root>

</included>
