<?xml version="1.0" encoding="UTF-8"?>
<included>

  <appender name="LOG_FILE"
            class="ch.qos.logback.core.FileAppender">
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <file>${CATALINA_HOME}/logs/dev/attack-dev.log</file>
    <append>true</append>
  </appender>

  <logger name="com.el" level="debug"/>
  <logger name="org.I0Itec.zkclient" level="debug"/>

  <root level="INFO">
    <appender-ref ref="LOG_FILE" />
    <appender-ref ref="CONSOLE"/>
  </root>

</included>
